<div class="container-fluid">
  <div class="row">
  <div class="row"  style="width: 100%">
    <app-nav-bar style="width: 100%"></app-nav-bar>
  </div>
  <div class="row">
    <div class="col-sm-4 position-absolute" style="left: -9rem;" >
      <img class="img-fluid align-middle"  src="./../../assets/blob-small.svg" >
      
    </div>
    
    <div class="col-sm-6 position-absolute" style="right: -4rem;top: -8.25rem;">
      <img class="img-fluid "  src="./../../assets/circle.svg" >
    </div>
    <div class="d-flex justify-content-center" style="width: 100%"><app-top-body style="width: 90%"></app-top-body></div>
    
  </div>
</div>
<div class="row">
  <app-bottom-body style="width: 90%"></app-bottom-body>
</div>

  <!-- <div class="row">
    <div class="custom-shape-divider-bottom-1611838135">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
  </div>
  </div> -->
  
  
</div>