<app-nav-bar></app-nav-bar>
<main style="height: 1000px;">
    <section class="bg" style="background-image:url(./../assets/bg3.png);">
        <app-top-body></app-top-body>
    </section>
    <!-- <footer> -->
      <!-- class="d-flex justify-content-center" -->
      <section class="bg" style="background-image:url(./../assets/bg2.png);">
        <!-- <div class="container"> -->
          <!-- <div class="row"> -->
            
          <!-- </div> -->
      
      <!-- </div> -->
      </section>
    <!-- </footer> -->
</main>
