<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="card data-card" style="margin-top:0">
                <div class="card-body-content">
                    <div class="card-image">
                        <img class="img-fluid "src="./../../assets/Get Paid Instantly.png">
                    </div>
                    
                    <div class="pl-4 card-body-data" >
                        <h3 class="card-title font-weight-bold align-middle">Quick cash disbursement</h3>
                        <p class="card-title card-para">Get terms loans that your business needs within 72 hrs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card data-card">
                <div class="card-body-content">
                    <div class="card-image">
                    <img class="img-fluid "src="./../../assets/Low interest rate.png">
                </div>
                
                <div class="pl-4 card-body-data" >
                    <h3 class="card-title font-weight-bold align-middle">Low-interest rate</h3>
                    <p class="card-title card-para">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card data-card">
                <div class="card-body-content">
                    <div class="card-image">
                    <img class="img-fluid "src="./../../assets/Secure Payments.png">
                </div>
                
                <div class="pl-4 card-body-data" >
                    <h3 class="card-title font-weight-bold align-middle">Zero Paperwork</h3>
                    <p class="card-title">Get started instantly by submitting only your basic details & bank statements</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 data-grid">
        <div class="col-sm-12" >
            <div class="row">
                <div class="card overflow-auto data-card" style="background-color: #bea1d5;">
                    <div class="card-body-content">
                        <div class="card-image">
                        <img class="img-fluid "src="./../../assets/freelancer_feature_icon_6@1.5x.png">
                    </div>
                    
                    <div class="pl-4 card-body-data" >
                        <h3 class="card-title font-weight-bold align-middle" style="color:#FFFFFF">Ace your business finances</h3>
                        <p class="card-title card-para" style="color:#FFFFFF">Manage banking, accounting & everything in between, on one platform</p>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="card overflow-auto data-card" >
                    <div class="card-body-content">
                    <div class="card-image">
                        <img class="img-fluid "src="./../../assets/Covid.png">
                    </div>
                    
                    <div class="pl-4 card-body-data" >
                        <h3 class="card-title font-weight-bold align-middle">Loans to fight COVID-19</h3>
                        <p class="card-title card-para">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 data-grid" style="left: 5rem;">
        <div class="row">
            <div class="pl-4">
                <h2 class="w-50">Boost your business with Open</h2>
                <hr class="w-25 mx-0 mb-5 hr" >
            </div>
            <!-- <h2  class="card-title font-weight-bold align-middle"></h2>
            <br>
            <hr class="w-25 mx-0 mb-5 hr" > -->
            <div class="pl-4">
                <p class="card-title grid3-content">Get your hands on a term loan that’s crafted for your business</p>
            <button type="button " class="btn btn-light get-acc-button">Get an Open Account</button>
            </div>
            
        </div>
    </div>
</div>

